nginx/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
cv_ai_logs_*

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# Distribution
*.tar.gz
*.zip

# Docker
.dockerignore
# Dockerfile
# docker-compose.yml

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

postgres_backup.sh
dump*

/home/ubuntu/backend/cron/certbot-renew.log